.badge-alt {
  overflow-wrap: break-word;
  position: relative;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 140px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::before {
    content: '90+';
    background-color: $primary;
    color: $white;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    top: -10px;
    left: -10px;
  }
}